.card:empty,.card.infohidden{
    background: url('image/jiuzi.png');
    background-size: 100% 100%;
}
.card.infohidden:not(.infoflip){
	background: url('image/jiuzi2.png');
    background-size: 100% 100%;
}

#arena.observe .handcards>.card {
    background: url('image/jiuzi.png') !important;
    background-size: 100% 100% !important;
}